.index-header-div {
  /* center margin */
  margin: auto;
  /* border: 3px solid blue; */
  /*
  Make div not larger than its contents.
  display: inline-block; doesn't work with margin: auto;
  */
  display: table;
}

.index-header-div__header {
  text-decoration: underline;
}
